// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.product-popup {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(4, 25, 33, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  // overflow: hidden auto;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 101;

  &.active {
    opacity: 1;
    visibility: visible;

    >.product-popup__cnt {
      transform: translate3d(0, 0, 0);
    }
  }

  &.loading {
    .loader {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__cnt {
    padding: 20px 20px 30px;
    min-width: 200px;
    min-height: 200px;
    position: relative;
    font: 16px/150% NotoSans;
    background-color: #fff;
    color: #333;
    transform: translate3d(0, -100%, 0);
    transition: transform .5s;
    // will-change: max-height;
    // transition: max-height .5s;
  }

  &__close {
    margin: 0 0 15px auto;
    display: block;
    width: 21px;
    height: 21px;
    padding: 2.5px;
    transition: color .5s;
    color: #0B4560;

    &:active {
      transform: scale(.95);
    }

    &-svg {
      pointer-events: none;
      width: 100%;
      height: 100%;
    }

    &-path {
      stroke: currentColor;
    }
  }

  &__title {
    margin: 0 0 30px;
    display: block;
    font: bold 18px/140% Rubik;
    color: $darkblue;
  }

  &__text {
    a {
      color: $blue;
      text-decoration: underline;
      transition: text-decoration-color .5s;
      &:hover {
        text-decoration-color: transparent;
      }
    }
    ul {
      >li {
        &::before {
          content: '';
          margin: 0 8px 0 0;
          display: inline-block;
          width: 10px;
          height: 1px;
          // border-radius: 50%;
          vertical-align: middle;
          background: $darkblue;
        }
        >ul {
          margin-left: 20px;
        }
      }
    }

    ol {
      counter-reset: list 0;
      >li {
        &::before {
          counter-increment: list;
          content: counter(list) ". ";
          margin: 0 8px 0 0;
          display: inline-block;
          color: $darkblue;
          font-weight: bold;
        }
      }
    }

    sup {
      display: inline-block;
      margin-top: -5px;
    }
  }

  &__descr {}

  &__nav {
    margin: 30px 0 0 auto;
    display: flex;
    width: 60px;
  }

  &__prev,
  &__next {
    width: 30px;
    height: 30px;
    transition: background .5s;
  }

  &__link {
    position: absolute;
    left: 20px;
    bottom: 37px;
    // left: 60px;
    // bottom: 42px;
    color: $orange;
    font: 16px/100% NotoSans;
    border-bottom: 1px solid;
    transition: border-bottom-color .5s;
    &:hover {
      border-bottom-color: transparent;
    }
  }
}