// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.production {
  padding: 100px 0;
  &:first-child {
    padding-top: 135px;
  }
  &__link {
  }
  &__descr {
  }
}
.product {
  width: calc(100% / 3);
  &__img {
  }
  &__title {
  }
  &__list-wrap {
  }
  &__list-title {
  }
  &__ul {
  }
  &__li {
  }
}