// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  background: rgba(51, 51, 51, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.hdr__burger {
  display: inline-flex;
  transition: opacity .15s linear;
  background: 0 0;
  border: 0;
  overflow: visible;
  transition: transform .5s;
  z-index: 1;
  font-size: 6px; // Для контроля размеров
  &-box {
    display: inline-block;
    flex-shrink: 0;
    width: 4.2em;
    height: 2.835em;
    position: relative;
  }

  &-inner {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    background: #000;
    transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
    border-radius: 2px;

    &::after,
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: #000;
      border-radius: inherit;
    }

    &::after {
      bottom: -1em; // 6px
      transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &::before {
      top: -1em; // 6px
      background: #000;
      transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.active {
    .hdr__burger-inner {
      transform: rotate(90deg);
      background-color: transparent !important;
      transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;

      &::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &::after {
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}
