// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.callback-sect {
  padding: 50px 0 100px;
  &__title {
    font-size: 24px;
  }
}

.callback-form-wrap {
}

.callback-form {
  &__inputs {
  }
  &__field_name {
  }
  &__field_tel {
  }
  &__field_email {
  }
  &__field_msg {
  }
  &__bottom {
  }
  &__check {
    max-width: 425px;
  }
  &__btn {
  }
}