// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.about {
  padding: 0 0 50px;
  &__gallery {
    width: 315px;
    height: 450px;
  }

  &__title {
    font-size: 24px;
  }

  &__descr {
    max-width: 510px;
  }

  &__feats {}

  &__partners {}
}

.feat {
  &__top {}

  &__bottom {}
}

.about-gallery {
  &__nav {}

  &__next {}
}

.partners {
  &__title {}
}

.partners-slider {
  &__slide {
    filter: grayscale(1);
    transition: filter .5s;
    &:hover {
      filter: grayscale(0);
    }
    &:nth-last-child(n+2) {}
  }
}