// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.contacts {
  padding: 75px 0 150px;
  &__title {
    font-size: 28px;
  }
  &__list {
  }
  &__li {
    &::before {
    }
  }
  &__tel {
  }
  &__map {
    width: 37vw;
    max-width: 700px;
  }
}