// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.sections-wrapper {
  
}

.hero-404 {
  margin-left: calc((50vw - 344px) * -1);
  font-size: 18px;
  &__title {
    font-size: 200px;
  }
  &__descr {
    width: 450px;
  }
  &__link {
    width: 200px;
  }
}
