// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

// .airplane-route {
//   display: none;
//   pointer-events: none;
// }

.index-hero {
  margin-left: -20px;
  padding: 25vh 20px;
  width: 100vw;
  height: 100vh;
  background: center/cover no-repeat, $lightblue;
  &__title {
    max-width: 280px;
    font: bold 28px/150% Rubik;
    letter-spacing: 0.02em;
    color: $darkblue;
  }
  &__btn {
    margin-top: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 170px;
    height: 45px;
    position: relative;
    z-index: 1;
  }
  &__img {
    display: none;
  }
  &__airplane-route {
    display: none;
  }
}