// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hdr {
  padding: 20px calc(50% - 268px);
  &.fixed {
    height: 45px;
    > .hdr__burger {
      transform: none;
    }
  }
  &__logo {
    
  }
  &__logo-img {
  }
  &__burger {
  }
  &__burger-box {
  }
  &__burger-inner {
  }
  &__nav {
  }
}